.badge {
  background-color: #cecece !important;
  color: #555555 !important;
  text-transform: none !important; /* テキストを変換しない */
  margin: 2px;
  font-size: medium !important;
  display: inline-block;
  max-width: 200px; /* 最大幅を設定 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 550px) {
    max-width: 150px; /* 最大幅を設定 */
    font-size: small !important;
  }
}
