.eyecatch-section {
  background-color: #b1c9eb;
  display: flex;
  justify-content: center;
}
.date-section {
  max-width: 80% !important;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 550px) {
    max-width: 100% !important;
  }
}
.date-text {
  font-size: 24px !important;
  font-weight: lighter !important;
  @media (max-width: 550px) {
    font-size: 16px !important;
  }
}
.contents-section {
  max-width: 80% !important;
  margin-top: 5%;
  margin-bottom: 5%;
  @media (max-width: 550px) {
    max-width: 100% !important;
  }
}
