.eyecatch-section {
  max-width: 100% !important;
  width: 100% !important;
  /* --container-size: 100% !important; */
  background-color: #5647f5;
  display: flex;
  @media (max-width: 550px) {
    padding: 1rem !important;
    margin-bottom: 0px;
  }
}
.contents-section {
  max-width: 80% !important;
  margin-top: 5%;
  margin-bottom: 5%;
  @media (max-width: 550px) {
    max-width: 100% !important;
  }
}
